body{background-color: aqua;}

#mainDiv{
    height: auto;
    width: auto;
    background-color: bisque;
}

#top{
    height: 100px;
    width: 100%;
    background-color: yellow;
}

#logo{
    height: 100px;
    width: 20%;
    float: left;
    background-color: white;
}

#navText{
    width: 80%;
    background-color: aquamarine;
    float: right;
}

#banner{
    height: 500px;
    background-color: azure;
}

#smallspace{
    height: 20px;
    background-color: grey;
}
