#mainDiv{
    height: auto;
    width: auto;
}

#top{
    height: 100px;
    width: 100%;
    background-color: yellow;
}

#logo{
    height: 100px;
    width: 20%;
    float: left;
    background-color: white;
}

#navText{
    width: 80%;
    background-color: aquamarine;
    float: right;
}

#banner{
    height: 500px;
}

#smallspace{
    height: 20px;
}

#midle{
    height: 700px;
    width: 100%;
}

#leftblog{
    height: 700px;
    float: left;
    width: 30%;
    
}

#rightblog{
    height: 700px;
    float: right;
    width: 70%;
}

#one{
    height: 200px;
    background-color: white;
    width: 70%;
}

.borderme {
    border-width:3px;
    border-bottom: 3px;
    border-style:solid;
    border-color:#055177;
   }

#two{
    height: 200px;
}

#three{
    height: 300px;
    background-color: rgb(79, 20, 118);
color: white;
}

nav a:hover {
    background-color: black;
    color: yellow;
}

nav a {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
    display: flex;
      justify-content: space-around;
  }

.icon {
    width: 80px;
}

body {
    font-family: HK Grotesk;
    background-color: var(--color-bg);
  }