#main{
    height: auto;
    width: 100%;
    align-content: center;
    }

#banner{height: 500px;
        width: 100%;
        background-color: aqua;
        background-image: url(img/banner.png);
    }

#WelcomeNote{background-color: black;
             color: rgb(255, 255, 255);
            width: 100%;}

#midpage{height: 600px; width: 100%; background-color: azure;}
#bannerpic{height: 600px; width: 50%; float: left;}
#bannertext{height: 600px; width: 50%; float: right;}










/*NAVIGATION*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }