#main{
    height: auto;
    width: 100%;
    align-content: center;
    }

#banner{height: 500px;
        width: 100%;
        background-color: aqua;
        background-image: url(img/banner.png);
    }

