<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATING ABOUT PAGE</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div class="about-section">
        <h1>ABOUT AJ HOSPITALITY</h1>
        <p>We take pride in providing exceptional experiences to all of our guests. Whether you're here for business or pleasure, our goal is to make your stay as comfortable and enjoyable as possible. We offer a wide range of amenities to ensure that you have everything you need during your stay. Our comfortable and stylish rooms are equipped with all the modern conveniences you could need, including free Wi-Fi, flat-screen TVs, and plush bedding. 
            We also offer a variety of room types to accommodate all of our guests' needs, including suites and accessible rooms.</p>
        
            <p>BEST IN US
                If you're looking to unwind after a long day, our on-site facilities are sure to please. Take a dip in our sparkling pool, work up a sweat in our fitness center, or relax with a drink at our bar. 
                We also offer delicious on-site dining options, so you don't have to go far for a great meal.</p>
      </div>
      
      <h2 style="text-align:center">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="img/three.jpeg" alt="Janet" style="width:100%">
            <div class="container">
              <h2>Janet Kumson</h2>
              <p class="title">CEO & Founder</p>
              <p>Email Her</p>
              <p>janet.k@ajh.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="img/one.jpeg" alt="Joseph" style="width:100%">
            <div class="container">
              <h2>Joseph Rocky</h2>
              <p class="title">Operaton Manager</p>
              <p>Send email</p>
              <p>joe@ajh.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="img/two.jpeg" alt="Rex" style="width:100%">
            <div class="container">
              <h2>Rex Bills</h2>
              <p class="title">Project Officer</p>
              <p>Send email</p>
              <p>rex@ajh.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
</body>
</html>
